$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icofonts" !default;

$icon-share: "\e900";
$icon-plus: "\e901";
$icon-close: "\e902";
$icon-down-chevron: "\e903";
$icon-sad: "\e904";
$icon-diagram: "\e905";
$icon-cheque: "\e906";
$icon-payment: "\e907";
$icon-payed: "\e908";
$icon-requests: "\e909";
$icon-menu: "\e90a";
$icon-left-arrow: "\e90b";
$icon-search: "\e90c";
$icon-date: "\e90d";
$icon-success: "\e90e";
$icon-info: "\e90f";
$icon-error: "\e910";
$icon-login: "\e911";
$icon-lock: "\e912";
$icon-user: "\e913";
$icon-reload: "\e914";
