@import "../../../assets/style/colors.scss";

.listForm {
  margin: 40px auto 20px auto;
  padding: 20px 4%;
  box-shadow: 0px 1px 8px 0px $shadow;
  position: relative;
  background-color: $backColor;
  z-index: 2;
  .title {
    color: $primary_color;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  & > form {
    max-width: 500px;
    margin: 0 auto;
  }
}
